
    <nav *ngIf="isLoggedIn$ | async as isLoggedIn">
        
        <a routerLink="/home">{{msgHomeLabel}}</a>
        <!-- Add if ROLE_ADMIN condition -->
        <a routerLink="/candidats">{{msgHomeMenuCandidats}}</a>
        <a routerLink="/resultats">{{msgHomeMenuResult}}</a>
        <a routerLink="/questionnaires">{{msgHomeMenuTests}}</a>
        <!-- Add if ROLE_CANDIDAT condition -->
        <a routerLink="/questionnaires">{{msgHomeMenuTests}}</a>
        <!-- Add if ROLE_CORRECTEUR condition -->
        <a routerLink="/corrections">Correction</a>


        <a routerLink="/deconnexion">{{msgHomeMenuDeconnexion}}</a>
        <a routerLink="/aide">Aide</a>
    </nav>