<div class="container">
<div id="grailsLogo" role="banner">
  <a href="http://cgi.com"><img src="{{imageLogo}}"/></a>
</div>
<nav>
    <a routerLink="/home">{{msgHomeLabel}}</a>
<!-- Add if ROLE_ADMIN condition -->
    <a routerLink="/candidats">{{msgHomeMenuCandidats}}</a>
    <a routerLink="/resultat">{{msgHomeMenuResult}}</a>
    <a routerLink="/Tests">{{msgHomeMenuTests}}</a>
<!-- Add if ROLE_CANDIDAT condition -->
    <a routerLink="/Tests">{{msgHomeMenuTests}}</a>
<!-- Add if ROLE_CORRECTEUR condition -->
    <a routerLink="/resultat">Correction</a>


    <a routerLink="/deconnexion">{{msgHomeMenuDeconnexion}}</a>
    <a routerLink="/aide">Aide</a>
</nav>

<router-outlet></router-outlet>
</div>
