<br>
<div class="input-group">
<a href="/assets/ManuelUtilisationAppliRecrutementCGI.pdf" download class="mt-4" class="w3-button w3-white w3-border w3-border-blue w3-round-large">
    <span class="input-group-addon"><i class="fa fa-download" aria-hidden="true"></i></span>
    Télécharger
</a>
</div>

<div class="container mt-4">
    <div class="row main">
        <div class="main-center">
            <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
        </div>
    </div>
</div>