<div class="row top-buffer">
  <div class="col-md-5">
    <h1>Bienvenue sur</h1>
    <h1>AppliRecrutement</h1>
    <h1>de CGI France</h1>
  </div>
  <div class="col-md-7" id="recrute">
    <img src="{{imageRecrute}}" width="500" height="243" />
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-4">
    <h3>
      Passez les questionnaires d'intégration en ligne sur cette plateforme !
    </h3>
  </div>
  <div class="col-md-4">
    <h3>
    {{msgBienvenue}}
    </h3>
  </div>
  <div class="col-md-4">
    <h3>Pour plus de détails, vous pouvez consulter le manuel utilisateur de l'application en vous rendant dans le menu "Aide".</h3>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-6">
    <p> <img src="{{imageCanvas2}}"/> </p>
    <p>« Je suis heureuse de faire partie de la famille CGI en raison de l'excellente atmosphère de travail qu'on y retrouve. Chez CGI, vous avez la chance de travailler avec des gens ouverts d'esprit et de jouer un rôle déterminant dans le développement de l'entreprise. »<br>Eva Schmänk, Conseillère principale </p>

  </div>
  <div class="col-md-6">
    <p> <img src="{{imageCanvas}}"/> </p>
    <p>« Comme CGI offre une vaste gamme de services en TI, les membres ont la possibilité de faire l'expérience de nombreuses fonctions. La direction s'engage à trouver à chacun d'entre nous des mandats qui nous permettront de progresser et d'atteindre nos objectifs de carrière. Je crois sincèrement qu'il existe un rôle pour chacun chez CGI. »<br>David Kwon, Chargé de projet</p>

  </div>
</div>

<div class="footer" role="contentinfo">
  <div id="reseauxSociaux">
    <ul class="liste">
      <li title="Suivez-nous !"><span class="titre">{{msgHomeFooter}}</span></li>
      <br/>
      <li class="inline"><a target="_blank" title="Facebook" href="http://facebook.com/cgifrance"><img src="{{imageLogoFB}}" alt="Facebook" /></a></li>
      <li class="inline"><a target="_blank" title="Twitter" href="http://twitter.com/CGI_FR"><img src="{{imageLogoTwitter}}" alt="Twitter" /></a></li>
      <li class="inline"><a target="_blank" title="Linkedin" href="http://www.linkedin.com/company/cgi?trk=biz-companies-cym"><img src="{{imageLogoLinkedin}}" alt="Linkedin" /></a></li>
      <li class="inline"><a target="_blank" title="Youtube" href="https://www.youtube.com/cgifrance_tv"><img src="{{imageLogoYoutube}}" alt="Youtube" /></a></li>
      <li class="inline"><a target="_blank" title="RSS" href="http://www.cgi.com/fr/fils-rss-balados"><img src="{{imageLogoRss}}" alt="RSS" /></a></li>
    </ul>
  </div>
</div>